// ============================================================
// Main 
// ============================================================

.app-main {

	width: 100%;
	position: relative;

	.logged-in {

		width: 100%;
	}

	.reveal-map {

		position: absolute;
		bottom: $baseline/2;
		left: $baseline/2;
		z-index: 999999;
	}

}


// ============================================================