<!doctype html>
<html class="no-js" lang="en-GB" ng-app="travelWishlist">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Travel Wishlist</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon"/> -->
        <link rel="stylesheet" href="assets/css/styles.css"/>

        <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />

    </head>
    <body>

        <main class="app-main">

           <!-- Logged in view -->
            <section class="logged-in" ng-if="auth.user !== null" ng-controller="main">
                <div ng-include="'/includes/sidebar.html'"></div>
                <div id="map"></div>
            </section>

            <!-- Logged out view -->
            <section class="logged-out" ng-if="auth.user === null" ng-controller="auth">
                <div ng-include="'/includes/auth.html'"></div>
            </section>   

            <div style="display:none">
                
            </div>
            <div id="google-map"></div>

        </main>

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
        <script src="assets/js/main.js"></script>
        <script src="//localhost:35729/livereload.js"></script>

    </body>
</html>