
// ============================================================
// CORE 
// ============================================================

$backgroundColor: $col-white;
$containerWidth: 1200px;
$containerPadding: $baseline;
$containerCentering: true;
$includeBorderBox: true;


@if $includeBorderBox {

	*, *:before, *:after {

		@include box-sizing(border-box);

	}

}

html, body {

	width: 100%;
	overflow-x: hidden;
	color: $col-black;

}

body {

	background: $backgroundColor;

}

html, body, section, main {

	height: 100%;

}

.wrapper {

	width: 100%;
	max-width: $containerWidth;
	padding: $containerPadding;

	@if $containerCentering {

		margin: 0 auto;
		
	}

}

@include grid;


// ============================================================