
// ============================================================
// FORMS 
// ============================================================


$inputMaxWidth: 480px;
$textareaHeight: 260px;
$disableFocus: true;

// Button colours
$primaryBtnCol: $col-white;
$primaryBtnColHover: $col-white;
$primaryBtnBg: $col-blue;
$primaryBtnBgHover: $col-red;
$secondaryBtnCol: $col-white;
$secondaryBtnColHover: $col-white;
$secondaryBtnBg: $col-blue;
$secondaryBtnBgHover: $col-yellow;


.btn,
input,
button,
select,
textarea {

	margin-bottom: $baseline/2;
	border: 1px solid $col-grey;
	

	@if $disableFocus {

		&:focus {

			outline: none;

		}
	}

}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"] {

	display: block;
	width: 100%;
	max-width: $inputMaxWidth;
	padding: $baseline/2;
	border: none;
	border-bottom: 2px solid $col-black;

}

select,
textarea {

	display: block;
	@extend input[type="text"];

}

textarea {

	resize: vertical;
	min-height: $textareaHeight;

} 

.btn,
button,
input[type="submit"] {

	border: none;
	width: auto;
	width: 44px;
	height: 44px;
	background: $col-black;
	@include border-radius(50%);
	display: inline-block;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-size: 40px 83px;
	text-indent: -9999999px;
	@include transition(all .4s ease-in-out);
	background-position: center 2px;

	&.active {

		background-position: center -41px;		
		text-decoration: none;

	}

	&.secondary {

		background: $secondaryBtnBg;
		color: $secondaryBtnCol;

		&:hover {

			color: $secondaryBtnCol;
			background: $secondaryBtnBgHover;

		}

	}

	&:hover {

		cursor: pointer;

	}

}

// ============================================================