// ============================================================
// Home 
// ============================================================

.places {

	li {

		border-bottom: 1px solid $col-lightgrey;
		@include cf;

		h2 {

			float: left;

		}

		.remove-place {

			float: right;

		}

	}

}

// ============================================================