	
	<!-- Logged in view -->
	<section class="logged-in" ng-if="auth.user !== null">
		<div class="sidebar">
			<form ng-submit="setNewEntry(field)">
				<input type="text" googleplace ng-model="field" />
			</form>

			<ul class="places">
				<li ng-repeat="place in data.places | orderBy: place.location">
					<span ng-bind-html="place.location"></span>
					<a ng-href="javascript:;" class="remove-place" ng-click="removeEntry($index)">X</a>
				</li>
			</ul>
		</div>

		<!-- <div id="map">
			<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
		</div> -->
		<div id="map"></div>
	</section>

	<!-- Logged out view -->
	<section class="logged-out" ng-if="auth.user === null">
		
	</section>