<h2>Login</h2>
<form class="form-signin" role="form" ng-submit="loginUser()">
    <input type="email" placeholder="Email address" required="" autofocus="" ng-model="loginEmail">
    <input type="password" placeholder="Password" required="" ng-model="loginPassword">
    <a href="/register"> Sign Up</a>
    <button type="submit">Sign in</button>
</form>

<p>or</p>
	
<h2>Register</h2>
<form class="form-register" role="form" ng-submit="registerUser()">
    <input type="email" placeholder="Email address" required="" autofocus="" ng-model="registerEmail">
    <input type="password" placeholder="Password" required="" ng-model="registerPassword">
    <button type="submit">Register</button>
</form>
