	
	<div class="sidebar" ng-class="{active:showSidebar}">

	    <div class="filter-add">
	    	<input type="text" placeholder="Filter results" ng-model="filterResults">
	    	<button ng-click="showSearch = !showSearch" ng-class="{active:showSearch}">+</button>
	    </div>

	    <div ng-include="'../includes/suggestions.html'"></div>

	    <ul class="places">
	        <li ng-repeat="place in data.places | filter: filterResults">
	            <span ng-bind-html="place.name"></span>
	            <a ng-href="javascript:;" class="remove-place" ng-click="removeEntry()">X</a>
	        </li>
	    </ul>

	</div>