

.sidebar {

	width: 300px;
	position: fixed;
	top: 0;
	left: -300px;
	bottom: 0;
	background: url(../img/bg.png) repeat;
	z-index: 111;
	@include transition(all .3s ease-in-out);
	z-index: 888888;

	&.active {

		left: 0;
	}

	.filter-add {

		padding: $baseline;
	}

	.places {

		li {

			position: relative;
			padding: $baseline/2 $baseline;
			border-bottom: 1px solid $col-lightblack;
			color: $col-white;

			.remove-place {

				position: absolute;
				right: $baseline;
				color: $col-red;
				line-height: 20px;
			}
		}
	}

	.place-name {

		vertical-align: top;
		line-height: 20px;
		padding-left: $baseline/2;
		width: 80%;
  		display: inline-block;
	}

	.sidebar-msg {

		color: $col-white;
		display: block;
		padding: 0 $baseline $baseline $baseline;
	}	
}

