	
	<div class="sidebar" ng-class="{active:showSidebar}">

	    <div class="filter-add">
	    	<input type="text" placeholder="Filter results" ng-model="filterResults">
	    	<button ng-click="showSearch = !showSearch" ng-class="{active:showSearch}">+</button>
	    </div>

	    <div ng-include="'../includes/suggestions.html'"></div>

	    <ul class="places" ng-if="data.places">
	        <li ng-repeat="(key, value) in data.places | filter: filterResults">
	            <span ng-bind-html="value.name"></span>
	            <a ng-href="javascript:;" class="remove-place" ng-click="removeEntry(key)">X</a>
	        </li>
	    </ul>

	    <span ng-if="!data.places" class="sidebar-msg">Click above to add a place!</span>

	</div>